PORT=3000
NODE_ENV=development

TOYA_API_BASE_URL=https://b2b.toya.pl/api
TOYA_API_KEY_ORDER=
TOYA_PURCHASER_LOGIN=

WOO_WEBHOOK_SECRET=

ALLEGRO_CLIENT_ID=
ALLEGRO_CLIENT_SECRET=
ALLEGRO_ACCESS_TOKEN=
ALLEGRO_API_BASE_URL=https://api.allegro.pl
ALLEGRO_POLL_INTERVAL_MS=120000
ALLEGRO_ENABLED=false